<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
</head>

<body>
<table>
<tr>
            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;" colspan="2" align="center">Analyse des factures</td>
          </tr>
<tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;"  colspan="2" align="center">Du : {{date}}</td>
      </tr><tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;"  colspan="2" align="right">{{ Hospital }}</td>
      </tr><tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;"  colspan="2" align="right">Tel : {{ Contact }}</td>
      </tr><tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;"  colspan="2" align="right">{{ addresse }}</td>
      </tr>
<tr>
            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;" colspan="2" align="left">Code de la caisse: {{ cash_code }}</td>
          </tr><tr>
            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;" colspan="2" align="left">Caissier: {{ cashier }} </td>
          </tr>
<tr>
            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;" colspan="2" align="left">Periode du: {{ start_date }} au : {{ end_date }}</td>
          </tr>
{#<tr>#}
{#    <td colspan="2"><img src="logo.png" width="150"  /></td>#}
{#  </tr>#}

    <tr>
    <td colspan="2">
    <table class="table">

    <tr>
    <td colspan="2">&nbsp;</td>
    </tr>
              <tr>
            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:15px;"colspan="2">Facture</td>
          </tr>
    <thead>
                        <tr style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; height:30px;margin-bottom: -50px;background-color: #E3F2FD;border-color: #E3F2FD;color:white; border-radius: 40px;">

                            <th style="color: black">Reférence</th>
                            <th style="color: black">Désignation article</th>
                            <th style="color: black">Qté</th>
                            <th style="color: black">P.U. Brut</th>
                            <th style="color: black">R/se %</th>
                            <th style="color: black">P.U. Net</th>
                            <th style="color: black">Montant Brut</th>
                            <th style="color: black">Montant Net</th>
                        </tr>
                    </thead>
          <tbody>
              {% for bill in bills %}

                        <tr style="text-align: center;height: 30px">


                            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; "  height="22" align="center">{{bill.bill.code}}</td>
                            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; " height="22" align="center">{{bill.bill.name}}</td>
                            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; " height="22" align="center">{{bill.quantity_served}}</td>
                            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; " height="22" align="center">{{bill.pub}} FCFA</td>
                            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; " height="22" align="center">{{bill.delivery}}</td>
                            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; " height="22" align="center">{{bill.pun}} FCFA</td>
                            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; " height="22" align="center">{{bill.amount_gross}} FCFA</td>
                            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; " height="22" align="center">{{bill.amount_net}} FCFA</td>
                        </tr>

                        {% endfor %}
          </tbody>
    <tr>
    <td colspan="2">&nbsp;</td>
    </tr>
    </table>
    </td>
    </tr>
</table>
 </tr>
{#<td width="51%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">#}
{#      <div style="text-align:right"><span style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333;">Montant total:</span> {{MontantT}} FCFA</div>#}
{#   <div style="text-align:right"><span style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333;">Montant perçu:</span> {{Advance}} FCFA</div>#}
{#   <div style="text-align:right"><span style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333;">Reste a payer:</span> {{Left_to_pay}} FCFA</div>#}
{#   <div style="text-align:right"><span style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333;">Remboursement:</span> {{Repayment}} FCFA</div>#}
{##}
{#    </table></td>#}

</body>

</html>